name: Auto Generate Release Notes

on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Generate Release Notes
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          tag_name: auto-${{ github.run_number }}
          name: Release auto-${{ github.run_number }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
